In [4]:
# Random Forest

In [5]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import recall_score, precision_score

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.compose import make_column_transformer
from sklearn.pipeline import Pipeline
from sklearn import set_config
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score


df = pd.read_csv(r'C:\Users\viksaraw\OneDrive\Berkeley\Capstone-1\May\Data\AfterEDA.csv')
df.head(5)
#df.shape

,date_sold,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [6]:
# Preprocessing
df['date_sold'] = pd.to_datetime(df['date_sold'])
df['date_sold'] = df['date_sold'].map(pd.Timestamp.toordinal)

# Split data into features and target
X = df.drop(columns=['price'])
y = df['price']

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train Random Forest Regressor
model = RandomForestRegressor(random_state=42)
model.fit(X_train, y_train)

# Predict
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

# Accuracy (R² score)
train_accuracy = model.score(X_train, y_train)
test_accuracy = model.score(X_test, y_test)

# Convert to binary using median threshold
threshold_train = np.median(y_train)
threshold_test = np.median(y_test)
y_train_binary = (y_train >= threshold_train).astype(int)
y_test_binary = (y_test >= threshold_test).astype(int)
y_train_pred_binary = (y_train_pred >= threshold_train).astype(int)
y_test_pred_binary = (y_test_pred >= threshold_test).astype(int)

# Recall and Precision
train_recall = recall_score(y_train_binary, y_train_pred_binary)
test_recall = recall_score(y_test_binary, y_test_pred_binary)
train_precision = precision_score(y_train_binary, y_train_pred_binary)
test_precision = precision_score(y_test_binary, y_test_pred_binary)

# Output results
print(f"Training Accuracy (R²): {train_accuracy:.4f}")
print(f"Test Accuracy (R²): {test_accuracy:.4f}")
print(f"Training Recall: {train_recall:.4f}")
print(f"Test Recall: {test_recall:.4f}")
print(f"Training Precision: {train_precision:.4f}")
print(f"Test Precision: {test_precision:.4f}")

Training Accuracy (R²): 0.9835
Test Accuracy (R²): 0.8530
Training Recall: 0.9729
Test Recall: 0.9258
Training Precision: 0.9589
Test Precision: 0.9086