In [ ]:
# Ridge Regression

In [10]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import Ridge


from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.compose import make_column_transformer
from sklearn.pipeline import Pipeline
from sklearn import set_config
from sklearn.metrics import mean_squared_error, r2_score,  mean_absolute_error


set_config(display="diagram")

df = pd.read_csv(r'C:\Users\viksaraw\OneDrive\Berkeley\Capstone-1\May\Data\AfterEDA.csv')
df.head(5)
#df.shape

,date_sold,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [11]:
# Convert date sold to just year_sold
df['year_sold'] = pd.to_datetime(df['date_sold']).dt.year.astype(int)
df = df.drop(columns=['date_sold'], axis =1)

In [12]:
# Define features and target
X = df.drop(columns=['price'], axis =1)
y = df['price']

# Train Test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [4]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Ridge
from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.metrics import mean_squared_error

# Define the pipeline with StandardScaler and Ridge Regression
pipeline_ridge = Pipeline([
    ('scaler', StandardScaler()),  # Normalize the data
    ('ridge', Ridge())  # Apply Ridge Regression
])
# Define hyperparameter grid for Ridge Regression
param_grid = {
    'ridge__alpha': [0.01, 0.1, 1, 10],  # Regularization strength
    'ridge__fit_intercept': [True, False]
}
# Initialize variables to store the best CV value and corresponding MSE
best_cv = None
best_mse = float('inf')
# Loop through CV values from 2 to 10
for cv in range(2, 11):
    grid_search = GridSearchCV(pipeline_ridge, param_grid, cv=cv, scoring='neg_mean_squared_error')
    grid_search.fit(X_train, y_train)
    
    # Best parameters and model evaluation
    best_model = grid_search.best_estimator_

 # Make predictions
    y_pred = best_model.predict(X_test)
    
    # Evaluate model performance
    mse = mean_squared_error(y_test, y_pred)
    
    print(f"CV={cv}, Best Hyperparameters: {grid_search.best_params_}, Test Mean Squared Error: {mse}")
    
    # Update best CV value if current MSE is lower than the best MSE found so far
    if mse < best_mse:
        best_cv = cv
        best_mse = mse
print(f"Best CV value: {best_cv}, Best Test Mean Squared Error: {best_mse}")

CV=2, Best Hyperparameters: {'ridge__alpha': 10, 'ridge__fit_intercept': True}, Test Mean Squared Error: 44968571609.35052
CV=3, Best Hyperparameters: {'ridge__alpha': 10, 'ridge__fit_intercept': True}, Test Mean Squared Error: 44968571609.35052
CV=4, Best Hyperparameters: {'ridge__alpha': 10, 'ridge__fit_intercept': True}, Test Mean Squared Error: 44968571609.35052
CV=5, Best Hyperparameters: {'ridge__alpha': 10, 'ridge__fit_intercept': True}, Test Mean Squared Error: 44968571609.35052
CV=6, Best Hyperparameters: {'ridge__alpha': 10, 'ridge__fit_intercept': True}, Test Mean Squared Error: 44968571609.35052
CV=7, Best Hyperparameters: {'ridge__alpha': 10, 'ridge__fit_intercept': True}, Test Mean Squared Error: 44968571609.35052
CV=8, Best Hyperparameters: {'ridge__alpha': 10, 'ridge__fit_intercept': True}, Test Mean Squared Error: 44968571609.35052
CV=9, Best Hyperparameters: {'ridge__alpha': 10, 'ridge__fit_intercept': True}, Test Mean Squared Error: 44968571609.35052
CV=10, Best Hyperparameters: {'ridge__alpha': 10, 'ridge__fit_intercept': True}, Test Mean Squared Error: 44968571609.35052
Best CV value: 2, Best Test Mean Squared Error: 44968571609.35052

In [14]:
# Feature scaling
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Initialize and train Ridge model
model_R = Ridge(alpha=2)
model_R.fit(X_train_scaled, y_train)

# Predictions
y_pred_train = model_R.predict(X_train_scaled)
y_pred_test = model_R.predict(X_test_scaled)

# Metrics
r2_train = r2_score(y_train, y_pred_train)
r2_test = r2_score(y_test, y_pred_test)
mse_train = mean_squared_error(y_train, y_pred_train)
mse_test = mean_squared_error(y_test, y_pred_test)
rmse_train = mse_train ** 0.5
rmse_test = mse_test ** 0.5
mae_train = mean_absolute_error(y_train, y_pred_train)
mae_test = mean_absolute_error(y_test, y_pred_test)

# Output results
print(f"Training R² Score: {r2_train:.3f}")
print(f"Test R² Score: {r2_test:.3f}")
print(f"Training MSE: {mse_train:.3f}")
print(f"Test MSE: {mse_test:.3f}")
print(f"Training RMSE: {rmse_train:.3f}")
print(f"Test RMSE: {rmse_test:.3f}")
print(f"Training MAE: {mae_train:.3f}")
print(f"Test MAE: {mae_test:.3f}")

Training R² Score: 0.701
Test R² Score: 0.703
Training MSE: 39112605163.134
Test MSE: 44966384698.417
Training RMSE: 197769.070
Test RMSE: 212052.788
Training MAE: 124677.254
Test MAE: 126901.667